<%- include('templates/cabecera')  %> 
    <div class="container">
        <h1 class="text-primary"><%= nombre  %> <h1>
        <h1><%= Status  %> <h1>
        <h1><%= species  %> <h1>
            
    </div>
    <%- include('templates/footer')  %> 